.category-card-button {
  border: none;
  background-color: #ffffff;
  color: #000;
  font-family: monospace;
  font-size: 0.9rem;
  text-align: center;
  padding: 1rem;
  width: 100%;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.category-card-button:hover,
.category-card-button:focus {
  background-color: #f8bbd0;
  outline: none;
}

.category-container {
  list-style: none;
  padding-left: 0;
}

.category-title {
  font-family: Dotgothic16, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #000;
}