.reverb-card-button {
  border: none;
  background-color: #D9D9D9;
  color: #000;
  font-family: Dotgothic16;
  font-size: 1.2rem;
  text-align: center;
  align-self: center;
  padding: 1rem;
  height: 5rem;
  width: 20rem;
  border-radius: 0.8rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

@media (min-width: 768px) {
  .reverb-card-button {
    font-size: 1.7rem;
    width: 45rem;
    height: 6rem;
  }
}