body {
  background-color: black;
  background-image: url('/src/assets/ruido.jpg');
  background-repeat: repeat;
}

ul {
  margin: 0;
  padding: 0;
}

.btn {
  padding: 5px;
  margin: 5px;
  min-width: 80px;
}

.btn-primary-custom {
  background-color: #FFF4F4;
  color: black;
  border: 1px solid black;
}

.btn-secondary-custom {
  background-color: #F4F211;
  color: black;
  border: 1px solid black;
}

.btn-accent-custom {
  background-color: #10F419;
  color: white;
  border: 1px solid black;
}

.btn-primary-custom:hover,
.btn-secondary-custom:hover,
.btn-accent-custom:hover {
  opacity: 0.9;
}

